body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #222;
    font-family: Arial, sans-serif;
    color: #fff;
}

.profile-container {
    text-align: center;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 2px solid #fff;
}

.name {
    font-size: 24px;
    margin: 10px 0;
}

.location {
    color: #bada55; /* You can use any color you prefer */
    margin: 5px 0;
}

.description {
    font-style: italic;
    margin: 10px 0 20px;
    color: #ccc;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social-button {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.social-button:hover {
    background-color: #555;
}
